// Replace default internal storage partition with external flash

///delete-node/ &storage_partition;
//
//&mx25r64 {
//	partitions {
//		compatible = "fixed-partitions";
//		#address-cells = <1>;
//		#size-cells = <1>;
//
//		storage_partition: partition@0 {
//			reg = <0x00000000 0x800000>;
//			label = "storage";
//		};
//	};
//};

// Change default SPI to these pins
//P0.24 SPI_CS
//P0.26 SPI_DO
//P0.28 SPI_DI
//P0.29 SPI_CLK

&pinctrl {
	spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 29)>,
					<NRF_PSEL(SPIM_MOSI, 0, 28)>,
					<NRF_PSEL(SPIM_MISO, 0, 26)>;
		};
	};

	spi1_sleep: spi1_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 29)>,
					<NRF_PSEL(SPIM_MOSI, 0, 28)>,
					<NRF_PSEL(SPIM_MISO, 0, 26)>;
			low-power-enable;
			bias-pull-down;
		};
	};
};

// Radar reset pin control - P0.09 (with pulldown for removed chip)
/ {
	radar_reset: radar-reset {
		compatible = "gpio-leds";
		radar_reset_pin: radar_reset_pin {
			gpios = <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_DOWN)>;  // Active low reset with pulldown
			label = "Radar Reset";
		};
	};
	
	// Radar crystal power control - P1.08
	radar_power: radar-power {
		compatible = "gpio-leds";
		radar_crystal_pin: radar_crystal_pin {
			gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;  // P1.08 - HIGH = crystal ON, LOW = crystal OFF
			label = "Radar Crystal Power";
		};
	};
	
	aliases {
		radar-reset = &radar_reset_pin;
		radar-crystal = &radar_crystal_pin;
	};
};

&spi1 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	
	bgt60: bgt60@0 {
		compatible = "infineon,bgt60";
		reg = <0>;
		spi-max-frequency = <1600000>;
	};
};

// IPC and BLE disabled

